body,html {
margin: 0;
overflow-x: hidden;
box-sizing: border-box;
background-color: azure;
letter-spacing: 2px;
}

.adminnav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3684fa;
  padding: 1rem;
}

.contribute-box {
  display: flex;
  margin: 3rem auto;
  justify-content: space-evenly;
  padding: 0 1rem;
  place-items: center;
}

.contribute-leftbox {
  height: auto;
  padding: 2rem 0;
}

.contribute-leftbox img {
  width: auto;
  display: flex;
  height: 110px;
  margin: auto;
}

.formbox input, .formbox textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #6d1ffa;
  text-indent: 7px;
}

.formbox input {
  padding: 1rem 0;
  outline: none;
  font-size: 20px;
}

.formbox input, .formbox label {
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.formbox button {
  background-color: #6d1ffa;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 20px;
  width: 100%;
}

.nav{
display: flex;
place-items: center;
background-color: #0059e0;
padding: 1rem;
}

.navlogo{
margin: auto;
cursor: pointer;
}

.navlinks{
list-style: none;
margin: auto;
display: flex;
place-items: center;
}

.navlinks a{
color: #fff;
padding: 1rem;
text-decoration: none;
}

.navlinks button{
background-color: #b53434;
color: #fff;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

.sm-name{
padding: 0 5px;
color: #fff;  }

@media(max-width:968px){
.nav{
flex-direction: column;
padding: 0 1rem;
}

.navlinks{
  display: flex;
  flex-wrap: wrap;
margin-bottom: 1rem;
}
      
.nav img{      
margin: auto;
padding: 1rem 0;
}
        
      

    
.navlinks a{
padding: 10px;
margin: auto;
font-size: 13px;
}
    
}

@media(max-width:500px){
  .navlinks button{
    margin-left: 30px;
  }
}
/* navbar stops here */



.hero {
background-image: linear-gradient(to bottom, #0000004d, #0000004d), url("./img/bg-h.jpg");
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
place-items: center;
color: #fff;
padding: 1rem;
}
  
  
.hero h1 {
font-size: 3rem;
margin-bottom: 2rem;
letter-spacing: 1px;
}

.hero p {
font-size: 1.5rem;
margin-bottom: 3rem;
letter-spacing: 1px;
}



.search-results-container {
  background-color: #fff;
  z-index: 999;
  position: absolute;
  width: 100%;
  top: 230px;
}


.search-results-container a{
color: #000;
text-decoration: none;
font-weight: bolder;
text-align: start;
}



.search-results-container p{
font-size: 16px;
padding: 0 1rem;
    letter-spacing: 2px;
}

@media(max-width:768px){
  .search-results-container p{
    font-size: 14px;
  }
}


.heroform{
position: relative;
display: flex;
place-items: center;
width: 30%;
padding: 10rem 0;
}
    
.heroform input{
width:100%;
height:38px;
padding:1rem;
outline:none;
border:none;
font-size: 20px;
direction: ltr;
color: #111;
}

.form-btn{
width: 10rem;
background-color:#2072ed;
color: #fff;
outline: none;
border-width: 0;
cursor: pointer;
transition: 0.5s;
}

.form-btn:hover{
background-color: #2e43d8;
}

.card-block{
display: flex;
place-items: center;
border-bottom: 1px solid #8b5cf6;
padding: 1rem 0;
}

.card-block img{
object-fit: cover;
object-position: center;
height: auto;
width: 50%;
margin-right: auto;
}

.tagline-header{
height: auto;
display: flex;
flex-direction: column;
margin-right: auto;

}

.tagline-header h1{
font-weight: 300;
padding: 0 50px;
margin-bottom: 1rem;
}

.tagline-header p{
font-size: 14px;
line-height: 2;
padding: 0 3rem;
}

.tagline-header a{
text-transform: capitalize;
padding: 0 50px;
text-decoration: none;
color: #6d6df8;
font-size: 24px;
}

.cards{
display: grid;
place-items: center;
place-content: center;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));

gap: 1rem;
padding: .8rem 1rem;
}

.card{
overflow: hidden;
border-radius: .5rem;
max-width: 30rem;
margin: 1rem 0;
}

.card img{
width: 100%;
height: auto;
}

.card h2{
font-weight: 300;
}

.card p{
line-height: 24px;
}

.card button{
background-color: #17a2f6;
color: #fff;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}
/* Define a base width for larger screens */


/* Adjust width based on screen size */
@media (max-width: 3440px) {
  .search-results-container {
    width: calc(97% - 0%);
  }
}

@media (max-width: 3100px) {
  .search-results-container {
    width: calc(97% - 0.3%);
  }
}

@media (max-width: 2800px) {
  .search-results-container {
    width: calc(97% - 1%);
  }
}
@media (max-width: 2400px) {
  .search-results-container {
    width: calc(97% - 1.5%);
  }
}
@media (max-width: 2100px) {
  .search-results-container {
    width: calc(97% - 2.2%);
  }
}
@media (max-width: 1800px) {
  .search-results-container {
    width: calc(97% - 2.9%);
  }
}
@media (max-width: 1500px) {
  .search-results-container {
    width: calc(97% - 4.1%);
  }
}

/* Add more media queries as needed */

/* Define a minimum width for smaller screens */


@media(max-width:768px){
.hero h1{
font-size:20px;
}
.hero h2{
font-size:15px;
}
}
/* CSS for medium screens */
@media only screen and (max-width: 1300px) {
  .heroform {
    width: 75%;
  }

  .search-results-container {
    width: calc(97% - 0.6%);
  }

  .search-result-item {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  

  .search-results-container {
    width: calc(97% - 2.4%);
  }

  .search-result-item {
    width: 100%;
  }
}

/* CSS for small screens */
@media only screen and (max-width: 540px) {
  .heroform {
    width: 100%;
  }

  .search-results-container {
    width: calc(97% - 3.7%);
  }

  .search-result-item {
    width: 100%;
  }
}



@media(max-width:968px){
.card-block{
flex-direction: column;
}
.card-block-reverse{
flex-direction: column-reverse;
}

.card-block img{
  width: 100%;
}
}
/* herohome css stops here */



.container h1 {
margin-top: 0;
margin-bottom: 1rem;
}

.form-container{

place-items: center;
width: 100%;
display: grid;}


.contactform {
max-width: 700px;
margin: 1rem auto;
background-color: #fff;
padding: 3rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contactform label {
display: block;
margin-bottom: 1rem;
}
  
.contactform input[type="text"],
.contactform input[type="email"],
.contactform textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
font-size: 16px;
resize: none;
letter-spacing: 1px;
line-height: 25px;
outline: none;
}

.contactform button {
background-color: #4c60af;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: 0.3s ease-in-out;
}

.contactform button:hover {
background-color: #1d09d5;
}

.contactform h1 {
text-align: center;
margin-bottom: 1rem;
}

.confirmation-hero{
display: grid;
height: 100svh;
place-items: center;
background-image: linear-gradient(to right,var(--gradient-stops));
--gradient-from: #006aff;
--gradient-stops: var(--gradient-from),var(--gradient-to);
--gradient-to: #1173d1;
}
/* contact css stops here */


/* faq css starts here */
.faq-container {
margin: 0 auto;
max-width: 1000px;
}

/* Style the FAQ section header */
.faq-container h2 {
font-size: 2rem;
}

/* Style the accordion items */
.accordion-item {
border: 1px solid #ddd;
border-radius: 5px;
}

/* Style the accordion headers */
.accordion-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
cursor: pointer;
background-color: #f9f9f9;
}

/* Style the accordion header text */
.accordion-header h3 {
font-size: 1.2rem;
font-weight: bold;
}

/* Style the accordion icon */
.accordion-icon {
width: 12px;
height: 12px;
border-right: 1px solid #888;
border-bottom: 1px solid #888;
transform: rotate(-45deg);
}

/* Style the accordion content */
.accordion-content {
padding: 20px;
visibility: hidden;
max-height: 0;
transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
background-color: #fff;
}

.accordion-content p {
line-height: 2;
letter-spacing: 1px;
}
  
/* Show the accordion content when the header is clicked */
.accordion-item.active .accordion-content {
visibility: visible;
max-height: 1000px;
}

@media(max-width:768px){
  .faqimg{
    width: 300px;
    height: auto;
  }
}
/* faq css stos here */
.mortage-hero{
background-image: linear-gradient(180deg,#0000004d,#0000004d),url('./img/bg-mortage.jpg');
background-size: cover;
background-position: 50%;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
padding: 1rem;
}

.mortage-hero h1{
margin-bottom: 0;
color: #fff;
letter-spacing: 1px;
}



.mortage-form{
max-width: 40rem;
margin: 0 auto;
background-color: #fff;
padding: 2rem;
border-radius: 5px;
box-shadow: 0 2px 5px #0000001a;
}

.mortage-form p{
letter-spacing: 1px;
margin-bottom: 30px;
padding: 0 1rem;
text-align: center;
}

.mortage-form input{
width: 100%;
background-color: #f2f2f2;
outline: none;
padding: 10px;
border: none;
border-radius: 5px;
}

.mortage-form input:focus{
border: solid 1px #17a2f6;
}
.mortage-form input:hover{
border: solid 1px #17a2f6;
}

.mortage-form button {
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px;
cursor: pointer;
transition: .3s;
}

.mortage-form button:hover {
background-color: #3e8e41;
}

@media(max-width:768px){
  .mortage-hero h1{
    font-size: 20px;
  }

  .mortage-form{
    width: auto;
  }
}
/* mortage calculator css stops here */


.registerwall{
background-image: linear-gradient(to bottom, #0000004d, #0000004d), url("./img/bg-register-wall.jpg");
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
padding: 4rem;
}

.reg_header{
  margin: auto;
  border-bottom: 1rem;
}


.registerwall form{
width: 40rem;
padding: 2rem;
border-radius: 5px;
background-color: #fff;}

.registerwall label{
margin-bottom: 1rem;
letter-spacing: 1px;
text-transform: capitalize;
}

.registerwall input{
margin: 1rem 0;
width: 100%;
outline: none;
padding: 1rem 0;
border: solid 1px #1d09d5;
border-radius: 5px;
text-indent: 5px
}

.registerwall button{
background-color:#17a2f6;
border: none;
border-radius: 10px;
color: #fff;
cursor: pointer;
outline: none;
padding: 20px;
width: 100%;
}

@media(max-width:768px){
  .registerwall form{
    width: 100%;
  }
  .reg_header img{
    width: 250px;
    height: auto;
  }
}
/* register css stops here */
.ArticleHero{
background-image: linear-gradient(to bottom, #0000004d, #0000004d), url('./img/article-bg.jpg');
background-size: cover;
background-position: 50%;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
text-align: center;
color: #fff;
padding: 1rem;
height: 600px;
}

.ArticleHero p{
font-size: 1.5rem;
margin-bottom: 3rem;
letter-spacing: 1px;
}

.card-grid {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
grid-gap: 10px;
place-items: center;
padding: 0 1rem;
margin: 0 auto 1rem;
}

.btn-grid{
display: flex;
place-content: center;
}

.btn-grid button{
margin-left: 10px;
border: none;
background-color: #007bff;
color: #fff;
padding: 8px 16px;
border-radius: 5px;
cursor: pointer;
transition: background-color .3s ease;
}

.card-catogory{
margin-left: auto;
padding: 0 2px;
font-weight: 400;
letter-spacing: 1px;
text-transform: capitalize;
display: flex;
place-items: center;
}

.authflex{
display: flex;
place-items: center;
justify-content: space-between;
margin-bottom: 1rem;
padding: 0 1rem;
}

.authflexOwner{
font-weight: 300;
margin-left: auto;
display: flex;
place-items: center;
padding: 10px;
}

.artilceGoUpbtn{
display: flex;
justify-content: flex-end;
place-items: center;
margin-bottom: 1rem;
}

.card-title{
font-weight: 300;
font-size: 1.5rem;
line-height: 2rem;
}

.card-content{
line-height: 1.625;
font-weight: 400;
}

.article-container{
max-width: 80rem;
margin: auto;
}


.backbtn-box{
display: flex;
justify-content: space-between;
padding: 0 1rem;
place-items: center; 
}

.backbtn-box h1 {
font-size: 34px;
font-weight: 700;
color: grey;
text-align: center;
}

.backbtn {
display: inline-block;
padding: 5px 10px;
font-size: 18px;
color: #fff;
background-color: #2e43d8;
border: none;
border-radius: 4px;
text-transform: capitalize;
cursor: pointer;
background-size: 200% auto;
margin: auto 0;
}

.imgbox {
  display: grid; 
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 200px; 
  gap: 5px ; 
}

.cover_image { 
  grid-area: 1 / 1 / 3/ 3; 
}

.cover_image, .cover_showcase1, .cover_showcase2, .cover_showcase3, .cover_showcase4, .cover_showcase5, .cover_showcase6, .cover_showcase7, .cover_showcase8,.cover_showcase9,.cover_showcase10,.cover_showcase11,.cover_showcase12 {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}


.body-content {
line-height: 2;
padding: 0 1rem;
}

.body-content p {
font-size: 1.2rem;
letter-spacing: 1px;
}

.flexdate{
padding: 0 1rem;
}

.cover_showcase{
  display: flex;
  place-items: center;
  place-content: space-evenly;
  }

  @media(max-width:768px){
    .imgbox{
      grid-template-columns: repeat(2,1fr);
    }
    .cover_showcase{
      flex-direction: column;
    }

    .cover_showcase img{
      width: 350px !important;
      padding: 1rem 0;
      height: auto !important;
    }

    .details_header_title h3{
      font-size: 14px;
    }
    .details_header_title h2{
      font-size: 14px;
    }

    /* .authbox {
      max-width: 50% !important;
      height: auto !important
    } */
  }
  
  .cover_showcase img{
  width: 200px;
  height: 150px;
  }
  
  .details_header_title{
  padding: 0 1rem;
  }
  
  .amenities-grid{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  max-width: 40rem;
  line-height: 2;
  }

  .ameities-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

 

.PropertyArticleHero{
background-image: linear-gradient(to bottom, #9191914d, #0000004d), url('./img/property_listings_home.jpg');
background-size: cover;
background-position: 50%;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
text-align: center;
color: #fff;
padding: 1rem;
height: 600px;
}
.ApartmentArticleHero{
background-image: linear-gradient(to bottom, #9191914d, #0000004d), url('./img/bg-wall.jpg');
background-size: cover;
background-position: 50%;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
text-align: center;
color: #fff;
padding: 1rem;
height: 600px;
}
.NewConstructionHero{
background-image: linear-gradient(to bottom, #9191914d, #0000004d), url('./img/newcon-wall.jpg');
background-size: cover;
background-position: 50%;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
text-align: center;
color: #fff;
padding: 1rem;
height: 600px;
}

.property-hero{
background-image: linear-gradient(180deg,#0000004d,#0000004d),url('./img/bg-property.jpg');
background-size: cover;
background-position: 50%;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;
padding: 1rem;
}

.PropertyArticleHero button{
background-color: #17a2f6;
color: #fff;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
border-radius: 5px;
transition: .5s;
border: none;
margin-bottom: 5rem;
font-size: 17px;
cursor: pointer;
}

.ApartmentArticleHero button{
background-color: #17a2f6;
color: #fff;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
border-radius: 5px;
transition: .5s;
border: none;
margin-bottom: 5rem;
font-size: 17px;
cursor: pointer;
}

.NewConstructionHero button{
background-color: #17a2f6;
color: #fff;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
border-radius: 5px;
transition: .5s;
border: none;
margin-bottom: 5rem;
font-size: 17px;
cursor: pointer;
}

.property-grid {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
grid-gap: 10px;
place-items: center;
padding: 0 1rem;
margin: 0 auto;
}

.property-grid a{
text-decoration: none;
}
  
.property-card {
min-width: 330px;
color: #000;
height: 100%;
max-width: 395px;
margin: 1rem 0;
border: 0px solid rgb(209, 209, 213);
border-radius: 8px;
overflow: hidden;
box-shadow: rgba(0, 0, 0, 60%) 0px 2px 4px 0px;
transition: transform 0.2s ease-in-out;
&:hover {
transform: scale(1.05);
}
}
  
.property-image {
width: 100%;
height: auto;
object-fit: cover;
}

.property-owner_name{
padding: 0 20px;
font-size: 15px;
color: #000;
}
  
.property-details {
padding: 0 20px;
}
  
.property-price {
color: #333;
font-weight: 600;
font-size: 20px;
line-height: 24px;
margin-bottom: 1rem;
}
  
.property-type {
display: flex;
place-items: center;
}
  
.property-address {
font-weight: 400;
font-size: 15px;
padding: 5px 20px;
}
  
.property-description {
margin-top: 12px;
color: #444;
line-height: 1.625;
font-weight: 400;
}

.postform {
  background-image: linear-gradient(to right,var(--gradient-stops));
  --gradient-from: #2365c3;
  --gradient-stops: var(--gradient-from),var(--gradient-to);
  --gradient-to: #2a347b;  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.postform select{
  width: 100%;
  padding: 8px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
    
.navinfo-box{
margin-right: auto;
}
    
    
    
.navinfo{
letter-spacing: 1px;
font-size: 20px;
padding: 5px;
text-transform: capitalize;
color: #4a4a4a;}

.postform label{
text-transform: capitalize;
margin-bottom: 1rem;
letter-spacing: 1px;
line-height: 2;
padding: 0 1rem;
width: 100%;
}

.postform input{
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 16px;
border: 1px solid #088fdd;
box-sizing: border-box;
font-size: 16px;
resize: none;
letter-spacing: 1px;
outline: none;
}

.postform textarea{
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
font-size: 16px;
resize: none;
letter-spacing: 1px;
line-height: 25px;
outline: none;
}


    
.postform button{
background-color: #009fdd;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
width: 100%;
}
    
    
    
.postuser-block{
display: flex;
place-items: center;
}

.postuser-username{
padding: 0 1rem;
font-size: 14px;
letter-spacing: 1px;
text-transform: capitalize;
}

.commentreg-box{
display: flex;
place-items: center;
}



.container-terms {
display: grid;
place-items: center;
padding: 0 1rem;
}

.aboutimg_container{
display: flex;
place-items: center;
justify-content: space-evenly;
}

.aboutimg_container img{
width: 250px;
border-radius: 50%;
height: auto;
}

.about_text{
padding: 0 1rem;
line-height: 34px;
margin-bottom: 1rem;
}

@media(max-width:768px){
.about_text h1{
font-size: 18px;}

.aboutimg_container{
flex-direction: column;}

.sm-container_img{
width: auto !important;
padding: 0 1rem;}
}

.textblock p {
line-height: 2;
font-weight: 600;
font-size: 14px;
}
/* terms css stops here */

.edit-btn {
margin-left: 10px;
border: none;
background-color: #007bff;
color: #fff;
padding: 8px 16px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}
  
.edit-delBlock{
padding: 1rem 6px;
}
  
.delete-btn {
margin-left: 10px;
border: none;
background-color: #ff0000;
color: #fff;
padding: 8px 16px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}





@media(max-width:1200px){
.article-container{
width: auto;
}

.backbtn-box{
display: flex;
flex-direction: column;
padding: 7px;
}
.backbtn-box h1{
font-size: 20px;
}
}
@media(max-width:768px){
.postform{width: 100%;}
}
/* details page css stops here */

footer{
padding: 3px;
background: #0059e0;
text-transform: capitalize;
text-align: center;}
      
      
      
      
  
          
.flex-footer{
display: flex;
place-content: center;
border-bottom: solid 1px #fff;
}

.footer-tablebox{
width: 100%;
border-right: solid 1px #fff;
padding-bottom: 10px;
padding-top: 10px;
}
  
  
   
.footer-headline{
color: #fff;
font-size: 24px;
font-weight: 600;
letter-spacing: 2px;
padding: 5px 0;
border-bottom: solid 1px #fff;
}

.footer-navlink{
margin: auto;
padding: 0;
}

.footer-navlink li{
list-style-type: none;
}

.footer-navlink a{
text-decoration: none;
color: #fff;
font-size: 18px;
line-height: 2.5;
cursor: pointer;
}
  
.footer-logo-box{
margin: auto;
}

.footer-logo-box img{
cursor: pointer
} 

@media(max-width:768px){
.flex-footer{
display: flex;
place-content: center;
flex-direction: column;
}
  
.footer-tablebox{
border-right: none;
border-left: none !important;
}
}
@media(max-width:500px){
.foot-navlinks{
display: grid;
grid-template-columns: repeat(4, 1fr);
place-items: center;
}

.footnav img{
height: 34px;
}


}
/* footer css stops here */

.error, .success{
line-height: 2;
text-align: center;
letter-spacing: 1px;
}