.hero{
display: grid;
background: linear-gradient(#00000080,#00000080),url('../img/hero-wall.jpg');
background-position: center;
background-size: cover;
width: 100%;
height: 20rem;
}

.hero-textblock{
width: 50%;
margin: auto;
}

.hero-textblock p{
font-size: 24px;
color: #fff;
font-weight: 600;
margin-bottom: 1rem;
}

.hero-textblock input{
width: 100%;
font-size: 18px;
border-radius: 3px;
border: none;
min-height: 70px;
outline: none;
padding: 0 20px;
background-color: #e7e6e3;}

.tagline-title{
text-align: center;
font-weight: 600;
font-size: 2.5rem;
margin-bottom: 50px;
}



.card-block{
display: flex;
place-items: center;
border-bottom: 1px solid #8b5cf6;
padding: 1rem 0;
}

.card-block img{
object-fit: cover;
object-position: center;
height: auto;   
}

.tagline-header{
background-color: #f5f5f5;
width: 50%;
height: auto;
display: flex;
flex-direction: column;   
}

.tagline-header h1{
font-weight: 300;
padding: 0 50px;
margin-bottom: 1rem;
}

.tagline-header p{
font-size: 1.5vw;
line-height: 2;
padding: 0 3rem;
}

.tagline-header a{
text-transform: capitalize;
padding: 0 50px;
text-decoration: none;
color: #6d6df8;
}





@media(max-width:968px){
.card-block-reverse{
flex-direction: column-reverse !important;
}

.tagline-header-reverse{
height: 50vh;

}

.tagline-title{
font-size: 20px;
}

.hero-textblock{
width: auto;
}

.tagline-header{
width: auto;
height: 50vh;
transform: translateY(60px);
}

.tagline-header h1{
font-size: 23px;
line-height: 8;
transform: translateY(90px);
}

.tagline-header p{
font-size: 19px;


}



.card-block{
flex-direction: column;  
}

.card-block img{
width: 100%;
height: auto;
}

}